body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-inline: 150px;
}
.navbare .div2 .links a {
text-decoration: none;
font-weight: 600;
 

} 
.links{
    display: flex;
 gap: 60px;
  width: 110vh;


}
.button1{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: red;
    font-weight: bold;
     text-transform: uppercase;
}
a{
     color: rgb(50, 71, 133);
}
a:hover{
    color: red;
}
/*anwar's section*/
.header {
  background-color: red;
  display: grid;
  grid-template-columns: 40vw 1fr;
  margin-top: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left h1{
    color: rgb(50, 71, 133);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.left p{
    color: rgb(95, 95, 95);
}
