body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbare {
  background-color: black;
}





/*anwar's section*/
.header {
  background-color: red;
  display: grid;
  grid-template-columns: 40vw 1fr;
  margin-top: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left h1{
    color: rgb(50, 71, 133);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.left p{
    color: rgb(95, 95, 95);
}
