body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-left: 30px;
}

.navbare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-inline: 150px;
}
.navbare .div2 .links a {
  text-decoration: none;
  font-weight: 600;
}

.links {
  display: flex;
  gap: 60px;
  width: 110vh;
}
.button1 {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: rgb(50, 71, 133);
}
a:hover {
  color: red;
}
/*anwar's section*/
.header {
  display: grid;
  grid-template-columns: 40vw 1fr;
  margin-top: 10px;
  padding-inline: 150px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 10px;
}

.left h1 {
  color: rgb(50, 71, 133);
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.left p {
  color: rgb(95, 95, 95);
}

.left .header-links {
  display: flex;
  align-items: start;
  column-gap: 20px;
}

.left .header-links a {
  text-decoration: none;
}

.left .header-links .more {
  color: white;
  background-color: rgb(255, 56, 69);
  padding: 15px;
  border-radius: 30px;
  padding-inline: 25px;
  font-weight: 500;
}

.left .header-links .get {
  padding: 15px;
  color: rgb(50, 71, 133);
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 150px;
  margin-bottom: 20px;
}
.form .last-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-button button {
  color: white;
  background-color: rgb(255, 56, 69);
  padding: 15px;
  border-radius: 30px;
  padding-inline: 25px;
  font-weight: 500;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.form .info p {
  color: rgb(255, 56, 69);
  font-weight: 500;
}
.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form h2 {
  color: rgb(50, 71, 133);
  font-size: 35px;
}

.top-input{
    display: flex;
    column-gap: 5px;

}
.top-input input {
  width: 50vw;
  height: 50px;
  column-gap: 10px;
  background-color: rgb(239, 249, 255);
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  outline: none;
}

.bottom-input input {
  width: 76.3vw;
  height: 100px;
  background-color: rgb(234, 247, 255);
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  outline: none;
}

@media (max-width: 426px) {
  .navbare {
    background-color: red;
    width: 100%;
    position: relative;
  }

  .navbare .links {
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: max-content;
    padding: 20px;
    position: absolute;
    /*links dertlihom display none*/
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: max-content;
  }

  .right img{
    width: 200px;
  }
}
/*Ghita section2*/
.part3{
    background-color: aqua;
    display: flex;
    height: 90vh;
    padding-inline: 150px;
    justify-content: space-between;
}
.button2{
      padding: 10px;
    border: none;
    border-radius: 15px;
    color:white;
    background-color: red;
    font-weight: bold;

}


/*Ghita section fianl */
.final{
    background-color: rgb(50, 71, 133);
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.links2{
    display: flex;
    gap: 40px;
}
.links2 a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}
.final h1{

    color: red;
    padding-top: -80px;
}
.final h4, .icone2{
    color: white;
}
.final .Doob2 h4{
    padding-top: 10px;
padding-bottom: 10px;
    font-weight: 300;
    font-size: small;
}
.final .icone2 {
    display: flex;
    gap: 20px;
    font-size: 40px;
}
 .final .Doob h4{
font-weight: 500;

}

