.navbare{
    background-color: black;

}






/*anwar's section*/

.header{
    background-color: red;
    display: grid;
    grid-template-columns: 40vw 1fr;
    margin-top: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
