body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 30px;
}

.navbare {
  background-color: black;
}





/*anwar's section*/
.header {
  display: grid;
  grid-template-columns: 40vw 1fr;
  margin-top: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 10px;
}

.left h1{
    color: rgb(50, 71, 133);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.left p{
    color: rgb(95, 95, 95);
}

.left .header-links{
    display: flex;
    align-items: start;
    column-gap: 20px;
}

.left .header-links a{
    text-decoration: none;
}

.left .header-links .more{
    color: white;
    background-color: rgb(255, 56, 69);
    padding: 15px;
}

.left .header-links .get{
    padding: 15px;
}
